/*! Clearing CSS of every element in pwf tag*/
/*! normalize.css v4.1.1 | MIT License | http://github.com/necolas/normalize.css */
pwf progress,pwf sub,pwf sup{vertical-align:baseline}pwf button,pwf hr,pwf input{overflow:visible}pwf [type=checkbox],pwf [type=radio],pwf legend{box-sizing:border-box;padding:0}html pwf{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body pwf{margin:0}pwf article,pwf details,pwf figcaption,pwf figure,pwf footer,pwf header,pwf main,pwf menu,pwf nav,pwf pwf aside,pwf section,pwf summary{display:block}pwf audio,pwf canvas,pwf progress,pwf video{display:inline-block}pwf audio:not([controls]){display:none;height:0}pwf [hidden],pwf template{display:none}pwf a{background-color:transparent;-webkit-text-decoration-skip:objects}pwf a:active,pwf a:hover{outline-width:0}pwf abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}pwf b,pwf strong{font-weight:bolder}pwf dfn{font-style:italic}pwf h1{font-size:2em;margin:.67em 0}pwf mark{background-color:#ff0;color:#000}pwf small{font-size:80%}pwf sub,pwf sup{font-size:75%;line-height:0;position:relative}pwf sub{bottom:-.25em}pwf sup{top:-.5em}pwf img{border-style:none}pwf svg:not(:root){overflow:hidden}pwf code,pwf kbd,pwf pre,pwf samp{font-family:monospace,monospace;font-size:1em}pwf figure{margin:1em 40px}pwf hr{box-sizing:content-box;height:0}pwf button,pwf input,pwf select,pwf textarea{font:inherit;margin:0}pwf optgroup{font-weight:700}pwf button,pwf select{text-transform:none}html pwf [type=button],pwf [type=reset],pwf [type=submit],pwf button{-webkit-appearance:button}pwf [type=button]::-moz-focus-inner,pwf [type=reset]::-moz-focus-inner,pwf [type=submit]::-moz-focus-inner,pwf button::-moz-focus-inner{border-style:none;padding:0}pwf [type=button]:-moz-focusring,pwf [type=reset]:-moz-focusring,pwf [type=submit]:-moz-focusring,pwf button:-moz-focusring{outline:ButtonText dotted 1px}pwf fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}pwf legend{color:inherit;display:table;max-width:100%;white-space:normal}pwf textarea{overflow:auto}pwf [type=number]::-webkit-inner-spin-button,pwf [type=number]::-webkit-outer-spin-button{height:auto}pwf [type=search]{-webkit-appearance:textfield;outline-offset:-2px}pwf [type=search]::-webkit-search-cancel-button,pwf [type=search]::-webkit-search-decoration{-webkit-appearance:none}pwf ::-webkit-input-placeholder{color:inherit;opacity:.54}pwf ::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/*! PWF Stylesheet*/
pwf
{
  width:100%;
  height:auto;
}